
Exercícios

* 1 Do arquivo carros, imprima as primeiras e as últimas cinco linhas. Faça uma versão que abre o arquivo a partir do csv e outra que abre a partir da url.
* 2 Encontre o nome da empresa de carros mais cara
* 3 mostre a média de preços
*  4 mostre o valor mais alto e mais baixo de horsepower
*  5 mostre a informação de todos os carros da marcar toyota
* 6 faça uma função que filtra os carros por cilindro e salva em outro arquivo CSV

In [28]:
# 1 Do arquivo carros, imprima as primeiras e as últimas cinco linhas. 

import pandas as pd
import numpy as np

df = pd.read_csv('carros.csv', sep=',')

df.head()
df.tail()
print(df)

# Faça uma versão que abre o arquivo a partir do csv e outra que abre a partir da url.

url = 'https://raw.githubusercontent.com/advinstai/python-datascience/master/Exercicios/carros.csv'

df2 = pd.read_table(url, sep=',')

df2

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [23]:
# 2 Encontre o nome da empresa de carros mais cara

df3 = pd.read_csv('carros.csv', sep=',')

df3.set_index('index', inplace=True)
maxe = df3['price'].max()
df_emp = df3.loc[df3['price'] >= maxe, 'company'] 

df_emp

index
47    mercedes-benz
Name: company, dtype: object

In [29]:
# 3 mostre a média de preços
df4 = pd.read_csv('carros.csv', sep=',')
df4.set_index('index', inplace=True)
mean_price = df4['price'].mean()
mean_price

15387.0

In [33]:
# 4 mostre o valor mais alto e mais baixo de horsepower
df5 = pd.read_csv('carros.csv', sep=',')
df5.set_index('index', inplace=True)
max_horse = df5['horsepower'].max()
min_horse = df5['horsepower'].min()
print('max:',max_horse, 'min: ',min_horse)

max: 288 min:  48

In [37]:
# 5 mostre a informação de todos os carros da marcar toyota
df5 = pd.read_csv('carros.csv', sep=',')
df5 = df5.drop('index', axis =1)
df5.set_index('company', inplace=True)

df5.loc['toyota']

,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
company,,,,,,,,
toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [45]:
# 6 faça uma função que filtra os carros por cilindro e salva em outro arquivo CSV

df6 = pd.read_csv('carros.csv', sep=',')
df6 = df6.drop('index', axis =1)
df6.set_index('num-of-cylinders', inplace=True)

def filter_(cilindro, path):
    ac = df6.loc[cilindro]
    
    return ac.to_csv(path, sep=';')
filter_('four', 'testefilter.cvs')
!cat 'testefilter.cvs'

num-of-cylinders;company;body-style;wheel-base;length;engine-type;horsepower;average-mileage;price
four;alfa-romero;convertible;88.6;168.8;dohc;111;21;13495.0
four;alfa-romero;convertible;88.6;168.8;dohc;111;21;16500.0
four;audi;sedan;99.8;176.6;ohc;102;24;13950.0
four;bmw;sedan;101.2;176.8;ohc;101;23;16430.0
four;bmw;sedan;101.2;176.8;ohc;101;23;16925.0
four;chevrolet;hatchback;94.5;155.9;ohc;70;38;6295.0
four;chevrolet;sedan;94.5;158.8;ohc;70;38;6575.0
four;dodge;hatchback;93.7;157.3;ohc;68;31;6377.0
four;dodge;hatchback;93.7;157.3;ohc;68;31;6229.0
four;honda;wagon;96.5;157.1;ohc;76;30;7295.0
four;honda;sedan;96.5;175.4;ohc;101;24;12945.0
four;honda;sedan;96.5;169.1;ohc;100;25;10345.0
four;isuzu;sedan;94.3;170.7;ohc;78;24;6785.0
four;isuzu;sedan;94.5;155.9;ohc;70;38;
four;isuzu;sedan;94.5;155.9;ohc;70;38;
four;mazda;hatchback;93.1;159.1;ohc;68;30;5195.0
four;mazda;hatchback;93.1;159.1;ohc;68;31;6095.0
four;mazda;hatchback;93.1;159.1;ohc;68;31;6795.0
four;mazda;sedan;104.9;175.0;ohc;72;31;18344.0
four;mitsubishi;hatchback;93.7;157.3;ohc;68;37;5389.0
four;mitsubishi;hatchback;93.7;157.3;ohc;68;31;6189.0
four;mitsubishi;sedan;96.3;172.4;ohc;88;25;6989.0
four;mitsubishi;sedan;96.3;172.4;ohc;88;25;8189.0
four;nissan;sedan;94.5;165.3;ohc;55;45;7099.0
four;nissan;sedan;94.5;165.3;ohc;69;31;6649.0
four;nissan;sedan;94.5;165.3;ohc;69;31;6849.0
four;nissan;wagon;94.5;170.2;ohc;69;31;7349.0
four;toyota;hatchback;95.7;158.7;ohc;62;35;5348.0
four;toyota;hatchback;95.7;158.7;ohc;62;31;6338.0
four;toyota;hatchback;95.7;158.7;ohc;62;31;6488.0
four;toyota;wagon;95.7;169.7;ohc;62;31;6918.0
four;toyota;wagon;95.7;169.7;ohc;62;27;7898.0
four;toyota;wagon;95.7;169.7;ohc;62;27;8778.0
four;volkswagen;sedan;97.3;171.7;ohc;52;37;7775.0
four;volkswagen;sedan;97.3;171.7;ohc;85;27;7975.0
four;volkswagen;sedan;97.3;171.7;ohc;52;37;7995.0
four;volkswagen;sedan;97.3;171.7;ohc;100;26;9995.0
four;volvo;sedan;104.3;188.8;ohc;114;23;12940.0
four;volvo;wagon;104.3;188.8;ohc;114;23;13415.0